@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
	height: 100%;
	position: absolute;
}

.quarter-div {
	width: 50%;
	height: 50%;
	float: left;
}

.first {
	
}

.second {
}

.third {
}

.forth {
}